header {
    background: linear-gradient(to right, #3E67A5, #aad7f5); 
    padding: 20px;
    color: #3E67A5; 
    margin-bottom: 50px;
}

.logo img{
    float: left;
    margin-right: 20px;
    height: 150px;
    width: 150px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    text-align: center;
  }

  nav ul li {
    display: inline;
    display: flex;
    text-align: center;
  }

  nav ul li a {
    display: block;
    color: #425E31;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
  }

  a {
    color: #000;
    text-decoration : none
   }

  h1 {
    text-align: center; 
    color: #425E31; 
  }

  main {
    display: flex;
    align-items: flex-start;
    padding: 20px;

  }
  
  .foto_aniversario{
    display: flex;
    padding: 20px;
    margin-left: 100px;
  }

  .images_galery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      }
  
  